.search-resultsHeader {
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    align-items: flex-start;
    padding: 30px;
    border-bottom: 1px solid lightgray;
}
.searchPage-logo {
    object-fit: contain;
    height: 50px;
    margin-right: 50px;

}

.searchPage-searchInput > .search > .search-input {
    margin-top: 0;
    width: unset;
    margin: unset;
    max-width: unset;
}

.searchPage-options {
    display: flex;
    align-items: center;
    color: grey;

}

.searchPage-optionsRight, 
.searchPage-optionsLeft {
    display: flex;
}

.searchPage-options a,
.searchPage-optionsRight a {
    text-decoration: none;
    color: gray;

}

.searchPage-optionsRight {
    margin-left: 18px;
}

.searchPage-option {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.searchPage-option a {
    margin-left: 5px;
}

.searchPage-results {
    margin: 40px 0;
    
}
.searchPage-resultLink {
    color: gray;
}
.searchPage-results a {
    text-decoration: none;
}

.searchPage-resultsBody {
    max-width: 650px;
    margin-top: 20px;
    margin-left: 240px;
    margin-bottom: 180px;
    
}

.searchPage-resultCount {
    color: #70577a;
    font-size: 14px;
}

.searchPage-resultTitle {
    text-decoration: none;
    font-weight: 500;

}

.searchPage-resultTitle > h2 {
    font-weight: 500;

}

.searchPage-resultTitle:hover {
    text-decoration: underline;
}

.searchImage {
    object-fit: contain;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}