.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;
  margin-right: 10px;
}

.header-links {
  display: flex;
  color: var(--links);
  padding-right: 10px;
  text-decoration: none;
  font-size: 15px;
}

.header > a:hover {
  text-decoration: underline;
}
 
.header-appsIcon {
  color: var(--links);

  margin-right: 18px;
  margin-left: 18px;
  cursor: pointer;
}

.header-avatarIcon {
    font-size: xx-small;
    cursor: pointer;
}
